{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact - Serenity Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'home' %}">TriviaMeld</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a class="getstarted" href="{% url 'about' %}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= contact ======= -->
    <section id="contact" class="contact ml-4">
      <div class="contact-container row">
        <div class="col-mod-2"></div>
        <div class="col-md-12">
          <h2 class="contact-heading contact-label section-title">Contact Us</h2>
          <h4><p>If you have any questions, concerns, or feedback, please feel free to contact us using the information below:</p></h4>
            <div class="row mt-5">
              <div class="col-lg-4 ml-10">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4><span class="contact-label">Location: </span>123 Main Street, Nairobi</h4>
                  </div>

                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4><span class="contact-label">Email: </span>milliwanderi5@gmail.com</h4>
                  </div>

                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4><span class="contact-label">Call: </span>+254713196499</h4>
                    <br>
                    <a class="twiter-link mb-5" href="https://twitter.com/Millywanderi5">@Twitter</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <style>
        /* CSS for the contact */ 
        .contact {
          margin-left: 50px;
        }
        /* CSS for the contact heading */
        .contact-heading {
          font-size: 24px;
          color: #333;
        }

        /* CSS for styling individual contact items */
        .contact-item {
          margin-bottom: 10px;
          font-size: 18px;
        }

        /* CSS for styling contact labels and the Twitter link */ 
        .contact-label {
          font-weight: bold;
          color: #0074d9;
        }

        .twitter-link {
          text-decoration: none;
          color: #0074d9;
        }
      </style>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>TriviaMeld</h3>
            <p>Test your knowledge and quiz skills while having fun.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Tom Mboya Street <br>
              123 Main Street Nairobi <br>
              Kenya <br>
              <strong>Phone:</strong> +254713196499<br>
              <strong>Email:</strong> milliwanderi5@gmail.com<br>
            </p>

            <div class="social-links">
              <a class="twiter-link" href="https://twitter.com/Millywanderi5"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/millicent.wanderi/" class="facebook-link"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/virtualadjutant/" class="instagram-link"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/millicent-wanderi-9aa894206/" class="linkedin-link"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Kindly subscribe to get our weekly emails.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TriviaMeld</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a class="twiter-link" href="https://twitter.com/Millywanderi5">Millicent Wanderi</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>

</html>