<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center">Create an account</h2>
                        <form method="POST" action="{% url 'register' %}" autocomplete="off">
                            {% csrf_token %}
                            <div>
                                {% for message in messages %}
                                <p>
                                    {{ message }}
                                </p>
                                {% endfor %}
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="text" name="first_name" required/>
                                <label class="form-label" for="first_name">First name</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="text" name="last_name" required/>
                                <label class="form-label" for="last_name">Last name</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="text" name="username" required/>
                                <label class="form-label" for="username">Username</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="text" name="email" required/>
                                <label class="form-label" for="email">Your Email</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="password" name="password1" required/>
                                <label class="form-label" for="password1">Password</label>
                            </div>
                            <div class="form-outline mb-3">
                                <input class="form-control form-control-lg" type="password" name="password2" required/>
                                <label class="form-label" for="password2">Confirm your password</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                            </div> 
                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login' %}"
                                class="fw-bold text-body"><u>Login here</u></a></p> 
                        </form>
                    </div>           
            </div>
        </div>
    </body>
</html>
    